<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Sayfa Bulunamadı</title>
    <link rel="stylesheet" href="css/404.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <div class="error-content">
            <h1>404</h1>
            <p>Üzgünüz, aradığınız sayfa bulunamadı.</p>
            <a href="/" class="home-link">Anasayfaya Dön</a>
        </div>
    </div>
    <%- include("discord") %>
</body>
</html>
